<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Cocktail generator</title>
  </head>
  <body>
    <h1>Cocktail generator</h1>
    <p>
      If you need to make a cocktail but you dont know what to make, we are here
      to help!
    </p>

    <div>
      <h5>Choose how you would like to search for a coctail</h5>
    </div>

    <%# if(locals.userChoice === "Random") {%>
    <div>
      <h5>Get a random cocktail</h5>
      <div>
        <input
          type="button"
          value="random"
          onclick="window.location.href='/searchRandom'"
        />
      </div>
    </div>
    <%# } else if (locals.userChoice === "Cocktail Name") { %>
    <div>
      <h5>Search for a cocktail by name</h5>
      <form id="cocktailNameForm" method="post">
        <input type="text" name="cocktailName" id="cocktailNameInput" />
        <input
          type="submit"
          value="Search"
          formaction="/searchCocktailName"
          onclick="window.location.href='/searchCocktailName'"
        />
      </form>
    </div>
    <%# } else if (locals.userChoice === "Alchohol Type") { %>
    <div>
      <h5>Search for a cocktail by alchohol type</h5>
      <div>
        <input type="text" name="alchoholType" id="alchoholTypeInput" />
        <input type="button" value="Search" formaction="/searchAlchoholType" />
      </div>
    </div>

    <div>
      <% if (locals.data) {%>

      <p>Drink name: <%= data[0].strDrink %></p>
      <p>Drink Category: <%= data[0].strCategory%></p>
      <p>Alchoholic or non Alchoholic: <%= data[0].strAlcoholic %></p>
      <p>Glass Type: <%= data[0].strGlass %></p>
      <p>Instructions: <%= data[0].strInstructions %></p>
      <img src="<% data[0].strDrinkThumb %>" alt="Drink Photo" />
      <% } %>
    </div>
    <%if (locals.error) {%>
    <div id="tag-error" class="tag-error"><h1><%=error%></h1></div>
    <%}%>
  </body>
</html>
