<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Cocktail generator</title>
  </head>
  <body>
    <h1>Cocktail generator</h1>
    <p>
      If you need to make a cocktail but you dont know what to make, we are here
      to help!
    </p>

    <div>
      <h5>Choose how you would like to search for a cocktail</h5>
    </div>

    <div>
      <select name="userSearchChoice" id="userSearchChoice">
        <option disabled selected value>
          -- Choose how you'd like to find a cocktail --
        </option>
        <option value="randomOption">Search for a random cocktail</option>
        <option value="cocktailNameOption">
          Search for a cocktail by name
        </option>
        <option value="alcoholNameOption">
          Search for a cocktail by alcohol name
        </option>
      </select>
    </div>

    <%#if(locals.userChoice === "Random") {%>
    <div>
      <h5>Get a random cocktail</h5>
      <div>
        <input
          class="submit"
          type="button"
          value="random"
          onclick="window.location.href='/searchRandom'"
        />
      </div>
    </div>
    <%# } else if (locals.userChoice === "Cocktail Name") { %>
    <div>
      <h5>Search for a cocktail by name</h5>
      <form id="cocktailNameForm" method="post">
        <input type="text" name="cocktailName" id="cocktailNameInput" />
        <input
          class="submit"
          type="submit"
          value="Search"
          formaction="/searchCocktailName"
          onclick="window.location.href='/searchCocktailName'"
        />
      </form>
    </div>
    <%# } else if (locals.userChoice === "Alcohol Type") { %>
    <div>
      <h5>Search for a cocktail by alcohol type</h5>
      <form id="alcoholTypeForm" method="post">
        <input type="text" name="alcoholType" id="alcoholTypeInput" />
        <input
          class="submit"
          type="submit"
          value="Search"
          formaction="/searchAlcoholType"
          onclick="window.location.href='/searchAlcoholType'"
        />
      </form>
    </div>
    <%# } %> <% if (locals.data) {%> <% for(i = 0; i< locals.data.length; i++) {
    %>
    <div id="cocktailOutputDiv">
      <p>Drink name: <%= data[i].strDrink %></p>
      <p>Drink Category: <%= data[i].strCategory%></p>
      <p>Alchoholic or non Alchoholic: <%= data[i].strAlcoholic %></p>
      <p>Glass Type: <%= data[i].strGlass %></p>
      <p>Instructions: <%= data[i].strInstructions %></p>
      <img
        src="<%= data[i].strDrinkThumb %>"
        alt="Drink Photo"
        id="drinkImage"
      />
    </div>
    <% }} %> <%if (locals.error) {%>
    <div id="tag-error" class="tag-error"><h1><%=error%></h1></div>
    <%}%>
  </body>
  <script>
    let userChoice;
    console.log(userChoice);
    window.onload = function () {
      document
        .getElementById("userSearchChoice")
        .addEventListener("change", function (event) {
          if (event.target.value === "randomOption") {
            userChoice = "Random";
            console.log(userChoice);
          } else if (event.target.value === "cocktailNameOption") {
            userChoice = "Cocktail Name";
            console.log(userChoice);
          } else if (event.target.value === "alcoholNameOption") {
            userChoice = "Alcohol Type";
            console.log(userChoice);
          }
        });
    };
  </script>
</html>
